/* Custom Styles */
body {
    padding: 0; /* Adjusted for fixed navbar height */
    margin: 0;
}

.sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.sidebar-sticky {
    position: relative;
}

.sidebar h5 {
    margin-bottom: 15px;
}

.main {
    margin:0;
    height: 100vh;
    width: 80%;
    background-image: url("foto/ondas-2d-degradado-7932.jpg");
    background-size: cover;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        position: static;
        width: 100%;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }
}
